@import "./mixins";
@import "./vars";
@import "../styles/fonts.css";

body,
html,
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: sans-serif;
}
body {
    position: relative;

}
body,
html {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.posts {
    &__post-item {
        border: 5px teal solid;
        background: transparent;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 5px;
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__buttons-wrapper {
        display: flex;
        gap: 5px;
    }
}
.post-enter {
    opacity: 0;
    transform: translateX(-120%);
}

.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.2s,
    opacity 0.2s;
}

.post-exit {
}

.post-exit-active {
    transform: translateX(120%);
    transition: transform 0.2s,
    opacity 0.2s;
}

.post-filter {
    border-color: teal;
}


